* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



video {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}